<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Fake News Deploy</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript">
  function checkWordCount(){
      s = document.getElementById("article").value;
      s = s.replace(/(^\s*)|(\s*$)/gi,"");
      s = s.replace(/[ ]{2,}/gi," ");
      s = s.replace(/\n /,"\n");
      if (s.split(' ').length <= 100) {
          alert("Please put an article with at least 100 words.");
  return false;
      }
  }
  </script>
</head>

<body style="background: #000;">
 <div class="login">
	<h1>Tagalog Fake News Detection</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input id="article" type="text" name="article" placeholder="Paste Tagalog News Article Here" required="required"/>
        <div style="display: inline-block">{{ recaptcha }}</div>
        <button  onclick="return checkWordCount()" type="submit" class="btn btn-primary btn-block btn-large" >Predict News</button>

    </form>

   <br>
   <br>
   {{ prediction_text }}
   <blockquote style="font-size: small;font-style: italic ">
       Disclaimer: This work is a proof-of-concept prototype only. As such, the accuracy and correctness of the predictions of the model are not guaranteed and should not be assumed as correct.
       Based on the capstone work of De Leon, De Luna, Despi, Herrera, Martin, Omaña (2021) on Natural Language Processing.
   </blockquote>


 </div>
</body>
</html>